/* .container-qr {
    display: flex;
    justify-content: center;
    align-items: center;
}
     */
/* .header-qr {
    text-align: center;
}
.qrcode {
    text-align: center;
    background-color: red;
}
.qr-value {
    text-align: center;
} */
div {
    text-align: center;
}